@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body{
    width: 960px;
    margin: 0 auto;
    padding: 100px;
}
h1 , h2{
    font-family: 'Patua One', cursive;
   
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
}
    
#transaction-area {
    display: none;
    
}
.deposit{
    background-color: slateblue;
}
.withdraw {
    background-color: lightsalmon;
}
.balance {
    background-color: orange;
}

.status {
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}